*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'Tomorrow', sans-serif;
   
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.text1{
    font-family: 'Tomorrow', sans-serif;
}

.desplazar{
    -webkit-animation-name:  moverIzquierda; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name:  moverIzquierda;
    animation-duration: 4s;
}
.desplazar2{
    -webkit-animation-name:  moverDerecha; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name:  moverDerecha;
    animation-duration: 4s;
}

@keyframes moverIzquierda{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moverDerecha{
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}
