{{> header}}
<body>
<link rel="stylesheet" href="../public/style.css">
<header class="w3-container w3-padding" style="background-image: url('../public/img/img1.png')" id="myHeader">

    <div class="w3-center">
        <h4 class="texto1">GAUCHO ROCKET</h4>
        <h1 class=" w3-animate-bottom  texto1" >LOS MEJORES VIAJES ESPACIALES</h1>
       <!-- <div class=" w3-display-topright w3-padding-16 w3-margin-right">
            <a href='/principal/logout' target="_parent" title="SALIR"><i class="fa fa-sign-out " style="font-size:30px"></i></a>
            <a href='/' target="_parent"><button class="w3-btn w3-xlarge  w3-food-spearmint  w3-round-large w3-hover-light-grey"  style="font-weight:900;">Volver</button></a>
            </div>-->
        <div class="w3-padding-32">
            <a href='/logueado/execute' target="_parent"><button class="w3-btn w3-xlarge parpadeo w3-food-spearmint  w3-round-large w3-hover-light-grey"  style="font-weight:900;">Volver</button></a><br><br>
        </div>
    </div>
</header>
<div>
    <h1> Busqueda de Vuelos</h1>
</div>
<div>
    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">

        <!-- The Band Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">Vuelos Orbitales Encontrados/Disponibles</h2>
<!--            <caption>Tours Encontrados</caption>-->
            <table class="w3-table w3-striped w3-bordered">
                <tr  class="w3-theme">
                    <th>Dia</th>
                    <th>Duracion</th>
                    <th>Equipo</th>
                    <th>Partida</th>
                </tr>
                {{#Orbital}}
                <tr>
                    <td>{{Circuitoname}}</td>
                    <td>{{duration}}</td>
                    <td>{{name}}</td>
                    <td>{{short_name}}</td>
<!--                    <td> <a href='#' >Reservar</a> </td>-->
                </tr>
                {{/Orbital}}
            </table>

        </div>


        <!-- End Page Content -->
    </div>

</div>
{{> footer}}