{{> header}}
<body>
<link rel="stylesheet" href="../public/style.css">
<header class="w3-container w3-padding" style="background-image: url('../public/img/img1.png')" id="myHeader">

    <div class="w3-center">
        <h4 class="texto1">GAUCHO ROCKET</h4>
        <h1 class=" w3-animate-bottom  texto1" >LOS MEJORES VIAJES ESPACIALES</h1>

        <div class="w3-padding-32">
            <a href='/' target="_parent"><button class="w3-btn w3-xlarge w3-pink  parpadeo w3-round-large w3-hover-light-grey"  style="font-weight:900;">SALIR</button></a>

        </div>
    </div>
</header>
<div>
    <h1> Busqueda de Vuelos</h1>
</div>
<div>
    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">

        <!-- The Band Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">Viajes encontrados</h2>
            <table class="w3-table w3-striped w3-bordered">
                <tr class="w3-theme">
                    <th>Código</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha de Salída</th>
                    <th>Hora Salída</th>
                    <th>Duración</th>
                    <th>Sentido</th>
                    <th>Nombre</th>
                    <th>Placa</th>
                    <th>Reservar</th>
                </tr>
                  {{#flight}}
                    <tr>
                                 <td>{{code}}</td>
                                 <td>{{departure}}</td>
                                 <td>{{destination}}</td>
                                 <td>{{departure_date}}</td>
                                 <td>{{departure_time}}</td>
                                 <td>{{duration}}</td>
                                 <td>{{side}}</td>
                                 <td>{{short_name}}</td>
                                 <td>{{plate}}</td>
                                  <td> <a href='#' >Reservar</a> </td>
                             </tr>
                {{/flight}}
            </table>
            <!--
                        <table class="w3-table w3-striped w3-bordered">
                            <caption>Ejemplo de tabla</caption>
                            <tbody>
                            <tr class="w3-theme">
                                <td></td>
                                <th>SUborbitales</th>
                                <th>Tours</th>
                                <th>Circuitos</th>
                            </tr>
                            <tr>
                                <th>Lunes</th>
                                <td>A1</td>
                            </tr>
                            <tr>
                                <th>Martes</th>
                                <td>A2</td>
                                <td>B2</td>
                            </tr>

                            <tr>
                                <th>Miercoles</th>
                                <td>A2</td>
                                <td>B2</td>
                            </tr>

                            <tr>
                                <th>Jueves</th>
                                <td>A2</td>
                                <td>B2</td>
                            </tr>

                            <tr>
                                <th>Viernes</th>
                                <td>A2</td>
                                <td>B2</td>
                            </tr>

                            <tr>
                                <th>Sabado</th>
                                <td>A2</td>

                            </tr>

                            <tr>
                                <th>Domingo</th>
                                <td>A2</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

            -->
                    <!-- End Page Content -->
    </div>

</div>
{{> footer}}