<footer class="w3-container w3-blue-grey d-flex justify-center">
<p class="w3-opacity"></p>
<p class="">GauchoRocket S.A. &copy; 2022</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="../public/js/functions.js"></script>
<script src="../public/js/plotly-latest.min.js" charset="utf-8"></script>
<script src="../public/js/htmlToCanvas.js"></script>
<script src="../public/js/jquery-3.4.1.min.js"></script>
</body>
</html>