{{> header}}
<body class="w3-container w3-padding" style="background-image: url('../public/img/img1.png')">
<header class="w3-container desplazar w3-padding" style="background-image: url('../public/img/img1.png')">Ingresar</header>
<link rel="stylesheet" href="public/styleprincipal.css" type="text/css">
<div>
<form id="form" action="/login/validate"  method="POST" class="topBefore desplazar">

		 <input id="emaillogin" type="text" placeholder="Usuario" required name="usuario">
		 <input id="messagelogin" name="pass" type="password" required placeholder="CONTRASEÑA"></input>
         
         <input id="submit"  type="submit" value="INGRESAR">
  
</form>
</div>
{{> footer}}
