{{> header}}
<body>
<header class="w3-container w3-padding" style="background-image: url('/assets/img/img1.png')" id="myHeader">

  <div class="w3-center">
  <h4 class="texto1">GAUCHO ROCKET</h4>
  <h1 class=" w3-animate-bottom  texto1" >LOS MEJORES VIAJES ESPACIALES</h1>
    <div class="w3-padding-32">
    <a href="/login" target="_parent"><button class="w3-btn w3-xlarge w3-pink  parpadeo w3-round-large w3-hover-light-grey"  style="font-weight:900;">INGRESAR</button></a>
    <a href="/register" target="_parent"><button class="w3-btn w3-xlarge  w3-food-spearmint parpadeo w3-round-large w3-hover-light-grey"  style="font-weight:900;">REGISTRARSE</button></a>
    </div>
  </div>
  </header>
  <div class="w3-row-padding">
<!--<form action="index.php?controller=busqueda&method=validate" class="desplazar2 w3-margin"  method="POST">-->
<form action="/busqueda/searchFlight" class="desplazar2 w3-margin"  method="POST">

  <h3>Busca tu próximo viaje</h3>

  <div class="w3-margin">

    <input class=" w3-border" name="viajeOrigen" type="text"  placeholder="Origen de Viajes" required>
    <input class=" w3-border" name="viajeDestino" type="text"  placeholder="Destino de Viaje" required>
    <input class=" w3-border" name="dateViaje" type="date" required>
  </div>
  <div class="w3-third w3-margin">
    <input class="w3-btn w3-large w3-food-spearmint w3-round-large  w3-hover-pink" style="width:100px; font-weight:900;" type="submit" placeholder="Buscar">
  </div>
 </form>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3  onclick="location.href='/busqueda/getCircuitos';" style="cursor:pointer;" >VIAJES ORBITALES</h3><br>
  <i class="fa fa-space-shuttle desplazar w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Chequeo médico</p>
  <p>Hoteleria espacial</p>
  <p>En familia</p>
  <p>Reserva tu vuelo</p>
  </div>
</div>

<div  class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3 onclick="location.href='/busqueda/getSubOrbitales';" style="cursor:pointer;">VIAJES SUB-ORBITALES</h3><br>
  <i class="fa fa-globe w3-margin-bottom rotacion w3-text-theme" style="font-size:120px"></i>
  <p>Chequeo médico</p>
  <p>Hoteleria espacial</p>
  <p>Pago con tarjeta de credito</p>
  <p>Reserva tu vuelo</p>
  </div>
</div>

<div  class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3  onclick="location.href='/busqueda/getTours';" style="cursor:pointer;">TOUR</h3><br>
  <i class="fa fa-space-shuttle desplazar w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Chequeo médico</p>
  <p>Hoteleria espacial</p>
  <p>Pago con tarjeta de credito</p>
  <p>Reserva tu vuelo</p>
  </div>
</div>
</div>
{{> footer}}