{{> header}}
<body class="w3-container w3-padding" style="background-image: url('../public/img/img1.png')">
<header class="w3-container desplazar w3-padding" style="background-image: url('../public/img/img1.png')">Completar Datos para el Registro</header>
<link rel="stylesheet" href="../public/styleprincipal.css" type="text/css">
<div>
	{{#messageVerifyEmail}}
	<div class="w3-center">
		<h4 class="w3-medium w3-blue w3-round-large w3-hover-light-grey">{{messageVerifyEmail}}</h4>
	</div>
	{{/messageVerifyEmail}}
<form id="form" action="/register/register" target="_parent" method="POST" class="topBefore desplazar">

		  
         <input id="email" type="text" placeholder="Email" name="email"><br>
         <input id="user" type="text" placeholder="Usuario" name="usuario">
		 <select name="type" >
   		 <!--<option value="1">Admiminstrador</option>-->
    	 <option value="0">Cliente</option>
		 </select><br>
		 <input id="messager" name="pass" type="password" placeholder="Contraseña"></input>

         <input id="submit" type="submit" name="submitRegistrar" value="REGISTRAR">
  
</form>
	<div  class="text-danger mb-4 text-center">
		{{#registro}}
		<h6>{{errores}}</h6>
		{{/registro}}
	</div>
</div>
{{> footer}}
