{{> header}}
<body class="w3-container w3-padding" style="background-image: url('../public/img/img1.png')">
<header class="w3-container desplazar w3-padding" style="background-image: url('../public/img/img1.png')">Recuperar Contraseña</header>
<link rel="stylesheet" href="public/styleprincipal.css" type="text/css">
<div>
<form id="form" action="/register/resetPassword"  method="POST" class="topBefore desplazar">

		 <input id="emaillogin" type="text" placeholder="Usuario" required name="usuario">
         <input id="submit"  type="submit" value="Enviar">
  
</form>
</div>
{{> footer}}
