{{> header}}
<body class="w3-container w3-padding" style="background-image: url('../public/img/img1.png')">
<a href='/login' target="_parent"><button class="w3-btn mt-4  w3-food-spearmint  w3-round-large w3-hover-light-grey"  style="font-weight:900;">Volver</button></a>
<header class="w3-container desplazar w3-padding" style="background-image: url('../public/img/img1.png')">Recuperar Contraseña</header>
<link rel="stylesheet" href="../public/styleprincipal.css" type="text/css">
<div>
<form id="form" action="/register/resetPassword"  method="POST" class="topBefore desplazar" style="margin-bottom: 31.8em">

		 <input id="emaillogin" type="text" placeholder="Usuario" required name="usuario">
         <input id="submit"  type="submit" value="Enviar">
  
</form>
</div>
{{> footer}}
